name: Lint with Oxlint

on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/lint.yml'

jobs:
  lint:
    name: Required processes
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
      - run: |
          npm uninstall -g yarn
          corepack enable
          corepack prepare yarn@4.9.2 --activate
          yarn install --immutable
          yarn lint:github
