name: Publish to GH Packages

on: workflow_dispatch

jobs:
  publish-gh:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://npm.pkg.github.com'
          scope: '@asumo-1xts'
      - name: Enable Yarn
        run: |
          npm uninstall -g yarn
          corepack enable
          corepack prepare yarn@4.9.2 --activate
          yarn install --immutable
      - name: Build and publish
        run: |
          yarn build
          yarn npm publish --access restricted
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
