name: Publish to NPM

on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org/'
      - run: |
          npm uninstall -g yarn
          corepack enable
          corepack prepare yarn@4.9.2 --activate
          yarn install --immutable
          yarn build
          yarn npm publish --access public
